<nav class="navbar navbar-expand-lg border-bottom pb-3">

  <a class="navbar-brand" href="#"><img src="assets/image/samu-logo.png" class="img-fluid me-2"></a>

  <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDropdown">
    <span class="bi bi-caret-down-fill"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapseDropdown">
    <div class="navbar-nav">
      <div class="dropdown">
        <a class="nav-link custom-menu custom-font-smaller dropdown-toggle" href="#" data-bs-toggle="dropdown"><span class="bi bi-person-fill"></span> Registro</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/login" data-bs-toggle="modal">Ingresar</a>
          <a class="dropdown-item" href="#">Crear cuenta</a>
        </div>
      </div>
      <a class="nav-link custom-menu custom-font-smaller" href="#cartSidebar" data-bs-toggle="offcanvas"><span class="bi bi-postcard-heart"></span> Incidencias</a>
    </div>
    <form class="form-inline ms-2" action="#" method="post">
      <div class="input-group">
        <input type="text" class="form-control form-control-sm custom-form-purple" name="searchKeyword" placeholder="Search">
        <button type="submit" class="btn btn-sm custom-btn-purple"><span class="bi bi-search"></span></button>
      </div>
    </form>
  </div>
</nav>
