<div class="container d-flex justify-content-center align-items-center">
  <div class="card">
    <div class="upper">
      <img alt="background image"
        src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid">
    </div>
    <!-- profile -->
    <div class="user text-center">
      <div class="profile">
        <img alt="employee profile picture"
          src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" class="rounded-circle" width="80">
      </div>
    </div>

    <!-- -->
    <div class="mt-5 text-center">
      <h4 class="mb-0">{{personaData.nombre +" " + personaData.apellido1}}</h4>
      <span class="text-muted d-block mb-2">Fecha: {{dateVal | date: 'd MMMM yyyy'}}</span>

    <!-- radio starts -->
    <div
      class="middle-container-registry d-flex justify-content-between align-items-center mt-3 p-2">
    <div class="d-flex flex-column custom-control-input">
      <div class="p-2">
        <input  [(ngModel)]="registryValue" class="radio-input" type="radio" id="ingreso" name="ingreso" value="Ingreso" checked />
        <label for="ingreso">Ingreso</label>
      </div>
      <div class="p-2">
        <input [(ngModel)]="registryValue" class="radio-input" type="radio" id="salida" name="salida" value="Salida"/>
        <label for="salida">Salida</label>
      </div>
    </div>
    </div>
      <!-- radio end -->

      <button class="btn btn-primary btn-sm follow"
              (click)="trackTime()"
              [disabled]= "isCheckedOut"

      >Registrar</button>
      <!-- time tracking container -->
      <div *ngIf="isCheckedIn"
        class="middle-container d-flex justify-content-between align-items-center mt-3 p-2">
          <div style="flex: 1" class="current-balance">{{registryValue}}: </div>
          <div style="flex: 1" class="amount">{{employeeCheckInTime}}</div>

          <!--
          <label class="current-balance">Ingreso: <span class="amount"><span class="dollar-sign"></span>{{employeeCheckInTime}}</span></label>
-->
      </div> <!-- time tracking container end-->

      <div [hidden] = "isDisplayed" style="background-color: #EFCCEF">
        this is my div
      </div>

    </div> <!--end text-center -->
  </div> <!-- end card -->
</div>




