<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container bootdey flex-grow-1 container-p-y">

  <div class="media align-items-center py-3 mb-3">
    <img src="assets/image/profile2.png" alt="avatar image" class="d-block ui-w-100 rounded-circle mb-4">
    <!--
    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar image" class="d-block ui-w-100 rounded-circle">
    -->
    <div class="media-body ml-4">
      <h4 class="font-weight-bold mb-0">{{personaData.nombre +" " + personaData.apellido1}}</h4>
      <div class="text-muted mb-2">CURP: {{personaData.curp}}</div>
      <a href="" class="btn btn-primary btn-sm">Editar</a>&nbsp;
      <a href="" class="btn btn-default btn-sm">Profile</a>&nbsp;
      <a href="" class="btn btn-default btn-sm icon-btn"><i class="fa fa-mail"></i></a>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <table class="table user-view-table m-0">
        <tbody>
        <tr>
          <td>Registrado:</td>
          <td>01/23/2017</td>
        </tr>
        <tr>
          <td>Ultima Actividad:</td>
          <td>20/06/2024 14:35 </td>
        </tr>
        <tr>
          <td>Status:</td>
          <td>Activo</td>
        </tr>
        <tr>
          <td>Area:</td>
          <td>{{personaData.perfil.area}}</td>
        </tr>
        <tr>
          <td>Ubicacion Actual:</td>
          <td>{{personaData.perfil.perfilHospital.descripcion}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <hr class="border-light m-0">

  </div>

  <div class="card mb-4 align-items-center">
    <div class="card-body">
      <div class="p-2">
        <h6>Selecciona el tipo de Registro:</h6>
        <hr>
        <input #radioIngreso [(ngModel)]="registryValue"
               class="radio-input" type="radio" id="ingreso" name="registryType" value="Ingreso"/>
        <label for="ingreso" style="margin-left: 5px">Ingreso</label>
      </div>
      <div class="p-2">
        <input #radioSalida [(ngModel)]="registryValue"
               class="radio-input" type="radio" id="salida" name="registryType" value="Salida"/>
        <label for="salida" style="margin-left: 5px">Salida</label>
      </div>
      <button class="btn btn-primary btn-sm follow"
              [disabled]="!(radioIngreso.checked || radioSalida.checked)"
              (click)="addTracking()"
      >Registrar</button>
    </div>

  <hr class="border-light m-0">
  </div>

  <div class="card mb-4" *ngIf="tracking.length > 0">
    <div class="card-body mb-2">
      <table class="table" style="text-align: center">
        <thead class="thead-light">
        <tr>
          <th scope="col">Tipo de Registro</th>
          <th scope="col">Dia</th>
          <th scope="col">Hora</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let trackEl of tracking; let i = index">
          <th scope="row">{{trackEl['registryType']}}</th>
          <th class="amount">{{trackEl['time']}}</th>
          <td class="amount">{{trackEl['date']}}</td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>


  <div class="card mb-4">
    <h4 class="m-3">Seguimiento</h4>


    <div class="row no-gutters row-bordered mb-4 m-lg-2">

      <div class="col-sm-3 col-lg-4">
        <a href="">
          <div class="card hover-img mb-4">
            <div class="card-body p-4 text-center border-bottom">
              <img src="assets/image/employees.png" alt="" class="rounded-circle mb-3" width="80" height="80">
              <h5 class="fw-semibold mb-0">Personal</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3 col-lg-4">
        <a href="">
          <div class="card hover-img mb-4">
            <div class="card-body p-4 text-center border-bottom">
              <img src="assets/image/ambulance.jpeg" alt="" class="rounded-circle mb-3" width="80" height="80">
              <h5 class="fw-semibold mb-0">Ambulancia</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3 col-lg-4">
        <a href="">
          <div class="card hover-img mb-4">
            <div class="card-body p-4 text-center border-bottom">
              <img src="assets/image/infrastructure.png" alt="" class="rounded-circle mb-3" width="80" height="80">
              <h5 class="fw-semibold mb-0">Infrastructura</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-3 col-lg-4">
        <a href="">
          <div class="card hover-img mb-4">
            <div class="card-body p-4 text-center border-bottom">
              <img src="assets/image/resources.png" alt="" class="rounded-circle mb-3" width="80" height="80">
              <h5 class="fw-semibold mb-0">Recursos</h5>
            </div>
          </div>
        </a>
      </div>

    </div>
    <hr class="border-light m-0">

  </div>


</div>
